name: FOSSA legal compliance scan
run-name: FOSSA scan
on:
  push:
    branches:
      - 'main'
jobs:
  fossa:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: FOSSA Scan
        uses: fossas/fossa-action@v1
        with:
          api-key: ${{ secrets.FOSSA_PUBLIC_API_KEY }}