name: Snyk Open Source Test
on:
  pull_request:
    branches:
      - 'main'
      - 'release/**'
    types: ['opened', 'ready_for_review', 'reopened', 'synchronize']
  push:
    branches:
      - 'main'
      - 'release/**'
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 0 * * *' # nightly at midnight
  workflow_dispatch:
  workflow_call:
    inputs:
      snyk-org:
        type: string
        description: 'Snyk organisation. NOTE: Snyk calls a team an org'
        required: false
        default: 'AIML'
      snyk-test-additional-params:
        type: string
        description: 'Additional Parameters for Snyk Test'
        required: false
        default: ''
      snyk-working-directory:
        type: string
        required: false
        default: './'
jobs:
  build:
    runs-on:
      - runs-on
      - run-id=${{ github.run_id }}
      - runner=sm-spot
      - env=production-eu
      - tag=snyk
    env:
      GOPRIVATE: "github.com/collibra/*"
    steps:
      - uses: actions/checkout@master
        with:
          fetch-depth: 0
      - uses: snyk/actions/setup@0.4.0
      - name: Set up SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.COLLIBRA_GITHUB_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan github.com >> ~/.ssh/known_hosts
      - uses: actions/setup-go@v4
        with:
          go-version: '1.25'
          check-latest: true
      - run: |
          git config --add url."git@github.com:".insteadOf "https://github.com/"
          go env -w GOPRIVATE="github.com/collibra/*"
      - name: "check if token exists with the snyk-org passed in"
        env:
          SNYK_TOKEN_REF: SNYK_TOKEN_${{ inputs.snyk-org }}_TEAM
          SNYK_ORG_REF: SNYK_ORG_ID_${{ inputs.snyk-org }}_TEAM
        if: ${{ (env.SNYK_TOKEN_REF == '') || (env.SNYK_ORG_REF == '') }}
        run: |
          'echo "Error: unable to find secrets for this team/org."'
          exit 1
      - name: Authenticate to Snyk
        run: |
          snyk auth "${{ secrets.SNYK_COLLIBRA_TOKEN }}"
      - name: Set organisation
        run: |
          snyk config set org="${{ secrets.SNYK_COLLIBRA_ORG_ID }}"
      - name: run Snyk with lifecycle Production if main or release branch
        env:
          REPO_NAME: ${{ github.event.repository.name }}
        continue-on-error: true
        if: startswith( github.ref, 'refs/heads/main') || startswith( github.ref, 'refs/heads/release/') || startswith( github.ref, 'refs/heads/master')
        run: |
          echo "repo is: $REPO_NAME"
          snyk monitor --all-projects --configuration-matching='^runtimeClasspath$' --project-lifecycle=production --target-reference="$(git branch --show-current)" --project-tags=repo="$REPO_NAME" -p -d
        shell: bash
      - name: run Snyk with lifecycle Development if non main / release branch
        env:
          REPO_NAME: ${{ github.event.repository.name }}
        continue-on-error: true
        if: startswith( github.ref, 'refs/heads/feature') || startswith( github.ref, 'refs/heads/dev') || startswith( github.ref, 'refs/heads/pre') || startswith( github.ref, 'refs/heads/prodsec')
        run: |
          snyk monitor --all-projects --configuration-matching='^runtimeClasspath$' --project-lifecycle=development --target-reference="$(git branch --show-current)" --project-tags=repo="$REPO_NAME" -p -d
        shell: bash